.portfolio {
  font-family: "Lato";
}
h1 {
  text-align: center;
  font-variant: small-caps;
}
.portfolio-entry {
  margin: 20px auto;
  padding: 15px;
  width: 50%;
  padding-left: 235px;
  background-color: #eee;
  background-size: 215px 180px;
  background-repeat: no-repeat;
}
.portfolio-entry.caltrain {
  background-image: url('assets/caltrain_2.jpeg');
}
.portfolio-entry.dagster {
  background-image: url('assets/dagster.png');
  background-size: auto 180px;
}
.portfolio-entry.robotics {
  background-image: url('assets/robotics.jpeg');
}
.portfolio-entry p {
  line-height: 130%;
  margin: 0;
}
.portfolio-entry .links {
  text-align: right;
}
.portfolio-entry .links a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #0984e3;
  color: #0984e3;
  padding: 4px 10px;
  margin-left: 5px;
  transition: color 0.2s, background-color 0.2s;
}
.portfolio-entry .links a:hover {
  background-color: #0984e3;
  color: white;
}
.portfolio-entry .links a:visited {
  color: #6c5ce7;
  border-color: #6c5ce7;
}
.portfolio-entry .links a:visited:hover {
  background-color: #6c5ce7;
  color: white;
}
.portfolio-entry .links a::after {
  content: " \2192";
}
.entry-title {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.entry-title span {
  float: right;
  font-size: 1rem;
  font-weight: normal;
}
